.base {
    background-color:#f7a714;
    color: #fff;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 80px;
    padding: 10px;
    font-size: 20px;
    letter-spacing: 2px;
    
}